* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $tint-color;
  background-size: cover;
  background-repeat: none;
  background-blend-mode: overlay;
  background-position: 68%;
  background-repeat: no-repeat;
  color: $font-color;
  font-family: 'Roboto', sans-serif;
}

body {
  @include flexCenter;
  flex-direction: column;

  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  background-color: $overlay-mobile-color;

  @include mqw(768px) {
    width: 70vw;
    max-width: 800px;
    background-color: $overlay-color;
    @supports (backdrop-filter: blur(5px)) {
      backdrop-filter: blur(5px);
    }
  }
}

h2 {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 2px 2px 3px $text-shadow-color;
  font-size: 1.2rem;
  font-weight: normal;

  @include mqw(768px) {
    font-size: 1.4rem;
  }
}

h2::before {
  content: '';
  position: absolute;
  display: block;
  inset: 32px 0 0;
  width: 50%;
  min-width: 260px;
  margin: auto;
  border-bottom: 1px solid $border-color;
  @include mqw(768px) {
    inset: 35px 0 0;
  }
}

h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 48%;
  min-width: 250px;
  inset: 35px 0 0;

  margin: auto;
  border-bottom: 1px solid $border-color;
  @include mqw(768px) {
    inset: 38px 0 0;
  }
}

img {
  display: block;
}

hr {
  position: relative;
  width: 90%;
  margin: auto;
  display: block;
  color: transparent;
}

hr::after {
  content: '';
  position: absolute;
  width: 48%;
  bottom: 10px;
  margin: auto;
  height: 1px;
  border-bottom: 1px solid $border-color;
}

.none {
  display: none !important;
}

.block {
  display: block;
}
