* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $tint-color; // Note: Needs to be at top
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: none;
  background-position: 68%;
}

body {
  @include flexCenter;
  flex-direction: column;

  min-height: 100vh;
  font-family: 'Roboto', sans-serif; // TODO: Change font
  color: $font-color;

  user-select: none;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: $overlay-color;

  @include mqw(768px) {
    width: 70vw;
    max-width: 800px;

    // For larger screens only so BG image can be seen
    @supports (backdrop-filter: blur(5px)) {
      backdrop-filter: blur(5px);
    }
  }
}

h2 {
  position: relative;
  margin-bottom: 1rem;

  text-align: center;
  font-weight: normal;
  font-size: 1.25rem;
  text-shadow: 2px 2px 3px $text-shadow-color;

  @include mqw(768px) {
    font-size: 1.35rem;
  }
}

h2::before,
h2::after {
  position: absolute;
  display: block;
  margin: auto;
  border-bottom: 1px solid $border-color;
}

h2::before {
  content: '';
  inset: 32px 0 0;
  width: 40%;
  min-width: 255px;

  @include mqw(768px) {
    inset: 35px 0 0;
  }
}

h2::after {
  content: '';
  width: 38%;
  min-width: 240px;
  inset: 35.5px 0 0;

  @include mqw(768px) {
    inset: 38px 0 0;
  }
}

hr {
  position: relative;
  width: 90%;
  margin: auto;
  display: block;
  color: transparent;
}

hr::after {
  content: '';
  position: absolute;
  width: 48%;
  bottom: 10px;
  margin: auto;
  height: 1px;
  border-bottom: 1px solid $border-color;
}

img {
  display: block;
}

.none {
  display: none !important;
}

.block {
  display: block;
}
