* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $tint-color; // Note: Needs to be at top
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: none;
  background-position: 67%;
}

body {
  @include flexCenter;
  flex-direction: column;

  min-height: 100vh;

  font-family: 'Roboto', sans-serif; // TODO: Change font
  color: $font-color;

  user-select: none; // Check if best practice
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100vw;

  background-color: $overlay-color;

  @include mqw(768px) {
    width: 70vw;
    max-width: 800px;

    // For larger screens only so BG image can be seen
    @supports (backdrop-filter: blur(5px)) {
      backdrop-filter: blur(5px);
    }
  }
}

h2 {
  position: relative;
  margin-bottom: 1rem;

  text-align: center;
  font-weight: normal;
  font-size: 1.3rem;
  text-shadow: 2px 2px 3px $text-shadow-color;

  @include mqw(768px) {
    font-size: 1.4rem;
  }
}

h2::before,
h2::after {
  content: '';
  position: absolute;
  display: block;
  margin: auto;
  border-block: 1px solid $border-color;
  border-radius: 100%;
}

h2::before {
  width: 40%;
  inset: 35px 0 0;
  min-width: 255px;
}

h2::after {
  width: 35%;
  inset: 39px 0 0;
  min-width: 230px;
}

hr {
  position: relative;
  display: block;
  margin: auto;
  width: 90%;
  background-color: $border-color;
  border-block: 1px solid $border-color;
  border-radius: 100%;
}

img {
  display: block;
}

.none {
  display: none !important;
}

.block {
  display: block;
}
