.navButtons button {
  min-width: 48px;
  min-height: 48px;
  color: $button-text-color;
  border-radius: 80px;
  outline: none;
  border: 1px solid transparent;
  font-size: 1.25rem;
  font-weight: 900;
  background-color: $button-color;

  @include mqw(768px) {
    font-size: 1.5rem;
    min-width: 60px;
    min-height: 60px;
  }
}

button:hover {
  cursor: pointer;
}

button:hover,
button:focus {
  transition: 250ms ease;
  transform: scale(1.1);
  border: 1px solid $border-color;
  background-color: $button-color-hover;
  box-shadow: 4px 2px 6px $text-shadow-color;
  color: $font-color;
}
