// Fade in display

.zero-vis {
  visibility: hidden;
  opacity: 0;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  visibility: visible;
  opacity: 1;
  animation: fadeInOpacity 1000ms 1 ease-in;
  // 1000ms to match button spinning anim length
}
