$font-color: #fff;
$bg-color: rgb(89, 129, 205);
$fog-color: darkslategray;
$night-color: midnightblue;
$overlay-color: rgba(0 0 0 / 0.2);
$button-color: transparent;
$border-color: lightgray;
$button-text-color: #fff;
$container-bg-color: #f2f2f2;
$shadow-color: #fff;
$text-shadow-color: #000;
$fade-color: rgba(255 255 255 / 0.6);
