$overlay-color: rgba(0 0 0 / 0.4);
$overlay-mobile-color: rgba(0 0 0 / 0.3);
$tint-color: rgba(42 69 110 / 0.3);

$font-color: #e2e2e2;

$button-color: rgba(0 0 0 / 0.1);
$border-color: rgba(255 255 255 / 0.5);
$button-text-color: rgba(255 255 255 / 0.8);

$container-bg-color: #f2f2f2;

$shadow-color: #fff;
$text-shadow-color: rgba(0 0 0 / 0.4);

$fade-color: rgba(255 255 255 /0.6);
