// COLORS

// Text
$font-color: #e9e9e9;
$button-text-color: rgba(255 255 255 / 0.8);
$fade-color: rgba(255 255 255 / 0.6);

// Shadows
$text-shadow-color: rgba(0 0 0 / 0.2);
$shadow-color: rgba(0 0 0 / 0.25);

// Buttons
$button-color: rgba(0 0 0 / 0.15);
$button-color-hover: rgba(0 0 0 / 0.2);

// Borders
$border-color: rgba(255 255 255 / 0.5);

// Overlay
$overlay-color: rgba(0 0 0 / 0.4);

// BG Image Tint
$tint-color: rgba(35, 69, 120, 0.4);
