.currentForecast {
  .currentForecast__conditions {
    display: grid;
    margin: 0.5rem auto;
    font-size: 1.2rem;
    @include mqw(375px) {
      font-size: 1.3rem;
    }

    .temp {
      position: relative;
      @include flexCenter;
      grid-row: 5 / span 3;
      grid-column: 2 / span 1;
      font-size: 6rem;
      letter-spacing: 0;
      text-shadow: 1px 0 5px $text-shadow-color;
      @include mqw(768px) {
        font-size: 8rem;
        grid-row: 3 / span 2;
      }

      .unit {
        position: absolute;
        top: 30%;
        left: 80%;

        font-size: 1.65rem;
        color: $fade-color;
        text-shadow: none;
      }
    }

    .icon {
      @include flexCenter;
      grid-row: 5 / span 3;
      grid-column: 3 / span 1;
      @include mqw(768px) {
        grid-row: 3 / span 2;
      }

      i {
        font-size: 6rem;
        text-shadow: 1px 0 5px $text-shadow-color;
        @include mqw(768px) {
          font-size: 7rem;
        }
      }
    }

    .minmaxtemp {
      @include flexCenter;
      font-size: 1.2rem;
      grid-row: 1 / span 1;
      grid-column: 1 / span 4;
      color: $button-text-color;
    }

    .feels,
    .humidity,
    .wind {
      @include flexCenter;
      padding-top: 0.5rem;
      font-weight: normal;
    }

    .desc {
      @include flexCenter;
      grid-row: 7 / span 1;
      grid-column: 1 / span 4;

      @include mqw(768px) {
        grid-row: 5 / span 1;
      }

      @include mqh(1080px) {
        margin-top: 2rem;
      }
    }

    .feels {
      grid-row: 8 / span 1;
      grid-column: 1 / span 4;
      @include mqw(768px) {
        grid-row: 6 / span 1;
      }
    }

    .humidity {
      grid-row: 9 / span 1;
      grid-column: 1 / span 4;
      color: $fade-color;
      @include mqw(768px) {
        grid-row: 7 / span 1;
      }
    }

    .wind {
      grid-row: 10 / span 1;
      grid-column: 1 / span 4;
      color: $fade-color;
      margin-bottom: 0.5rem;
      @include mqw(768px) {
        grid-row: 8 / span 1;
      }
    }
  }
}
