.currentForecast {
  h2 {
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 2px 2px 3px $text-shadow-color;
    font-size: 1.2rem;
    font-weight: normal;

    @include mqw(768px) {
      font-size: 1.4rem;
    }
  }

  .currentForecast__conditions {
    display: grid;
    margin: auto auto 2rem;
    font-size: 1.1rem;

    @include mqw(375px) {
      font-size: 1.3rem;
    }
    @include mqw(400px) {
      font-size: 1.7rem;
    }

    .temp {
      position: relative;
      @include flexCenter;
      grid-row: 1 / span 3;
      grid-column: 1 / span 2;
      font-size: 6rem;
      letter-spacing: 0;
      text-shadow: 1px 0 5px $text-shadow-color;

      @include mqw(360px) {
        font-size: 8rem;
      }
      @include mqw(768px) {
        font-size: 9rem;
      }

      .unit {
        position: absolute;
        top: 55%;
        left: 85%;

        font-size: 1.65rem;
        color: $fade-color;
        text-shadow: none;

        @include mqw(768px) {
          left: 75%;
        }
      }
    }

    .icon {
      @include flexCenter;
      grid-row: 1 / span 1;
      grid-column: 3 / span 2;

      i {
        font-size: 3rem;
        text-shadow: 1px 0 5px $text-shadow-color;
        @include mqw(768px) {
          font-size: 4rem;
        }
      }
    }

    .maxtemp {
      @include flexCenter;
      grid-row: 2 / span 1;
      grid-column: 3 / span 2;
    }

    .mintemp {
      @include flexCenter;
      align-self: flex-start;
      grid-row: 3 / span 1;
      grid-column: 3 / span 2;
      color: $fade-color;
    }

    .desc {
      @include flexCenter;
      grid-row: 4 / span 1;
      grid-column: 1 / span 4;
      padding-top: 0.5rem;

      @include mqMaxWMinH(1024px, 650px) {
        margin-top: 1.5rem;
      }

      @include mqh(1080px) {
        margin-top: 1.5rem;
      }
    }

    .feels,
    .humidity,
    .wind {
      padding-top: 0.5rem;
      font-weight: normal;
    }

    .feels {
      @include flexCenter;
      grid-row: 5 / span 1;
      grid-column: 1 / span 4;
    }

    .humidity {
      display: none;
      grid-row: 6 / span 1;
      grid-column: 1 / span 4;
      color: $fade-color;
    }

    .wind {
      display: none;
      grid-row: 7 / span 1;
      grid-column: 1 / span 4;
      color: $fade-color;
    }

    .humidity,
    .wind {
      @include mqMaxWMinH(1024px, 700px) {
        @include flexCenter;
      }
      @include mqh(1080px) {
        @include flexCenter;
      }
    }
  }
}
