.currentForecast {
  .currentForecast__conditions {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0.5rem auto;

    font-size: 1.1rem;
    @include mqw(768px) {
      font-size: 1.3rem;
    }

    .minmaxtemp {
      @include flexCenter;
      grid-row: 1;
      grid-column: 1 / span 9;
      color: $button-text-color;
      margin-top: 8px;
    }

    .temp {
      @include flexCenter;
      grid-row: 2 / span 2;
      grid-column: 3 / span 2;

      margin-block: 2.5vh;
      margin-right: 0.75rem;

      font-size: clamp(6rem, 20vw, 8rem);

      letter-spacing: 0;
      text-shadow: 1px 0 5px $text-shadow-color;

      // Temp unit
      .smallText {
        font-size: 1.75rem;
        color: $fade-color;
        text-shadow: none;
        transform: translateY(-30px);
      }
    }

    .icon {
      @include flexCenter;
      grid-row: 2 / span 2;
      grid-column: 5 / span 2;
      margin-block: calc(0.5rem + 5vh);
      margin-left: 0.75rem;

      i {
        font-size: clamp(6rem, 20vw, 8rem);
        text-shadow: 1px 0 5px $text-shadow-color;
      }
    }

    .feels,
    .humidity,
    .wind,
    .desc {
      @include flexCenter;
      grid-column: 1 / span 9;
      padding-bottom: 2vh;
    }

    .desc {
      grid-row: 4 / span 1;
      color: $button-text-color;
    }

    .feels {
      grid-row: 5 / span 1;
      color: $button-text-color;
    }

    .humidity {
      grid-row: 6 / span 1;
      color: $fade-color;
    }

    .wind {
      grid-row: 7 / span 1;
      color: $fade-color;
    }
  }
}
