.dailyForecast {
  .dailyForecast__contents {
    @include flexCenter;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-block: 0.75rem;
    color: $font-color;

    .forecastDay {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 2px;
      font-size: 1.1rem;

      @include mqw(375px) {
        font-size: 1.1rem;
      }

      .dayAbbreviation {
        font-weight: 600;
      }
    }
  }
}
