.searchBar {
  padding: 0.5rem 0.5rem 1.5rem;

  form {
    display: flex;
    justify-content: space-between;

    border: 2px solid $border-color;
    border-radius: 500px;

    .searchBar__text {
      flex-grow: 1;
      width: calc(100% - 52px); // 52px for button width
      margin-right: 0.25rem;
      padding: 0.75rem 0.75rem 0.75rem 1.75rem;

      border: none;
      outline: none;
      background-color: $button-color;
      font-size: 1.25rem;
      color: $font-color;
    }

    .searchBar__text::placeholder {
      color: $fade-color;
    }

    .searchBar__button {
      border: none;

      i {
        font-size: 1.7rem;
        padding-right: 0.5rem;
      }
    }

    .searchBar__button:hover,
    .searchBar__button:focus {
      box-shadow: none;
      text-shadow: 4px 2px 5px $text-shadow-color;
    }
  }
  form:focus-within,
  form:hover {
    box-shadow: 4px 2px 5px $text-shadow-color;
  }
}
