.rain {
  background-image: url('../images/Rain.webp');
}

.snow {
  background-image: url('../images/Snow.webp');
}

.night {
  background-image: url('../images/Night.webp');
}

.fog {
  background-image: url('../images/Fog.webp');
}

.clouds {
  background-image: url('../images/Clouds.webp');
}

.clear {
  background-image: url('../images/Clear.webp');
}
